.container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content-container {
  margin-top: 10px;
  width: 550px;
  height: 100vh;
  /* border: solid 1px white; */
  background-color: #3d3d3d; /* Cor de fundo global para o container */
  padding: 20px; /* Espaçamento interno */
  border-radius: 10px; /* Borda arredondada */
  margin-bottom: 40px;
}

a{
  background-color: #3d3d3d;
}

.content-title {
  background-color: #3d3d3d; /* Cor de fundo global para o h1 */
  margin-top: 10px;
}

.content-cover {
  border-radius: 10px;
  width: 100%;
  max-width: 500px; /* Largura máxima da imagem */
  height: auto; /* Altura automática proporcional à largura */
  margin-top: 20px;
}

.content-description {
  margin-top: 15px;
  color: gray;
  background-color: #3d3d3d; /* Cor de fundo global para o p */
}
